@import 'env';
@import 'nav-footer';

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    .title {
        margin-bottom: 3rem;
    }
}

.card {
    @include border-white-gradient();
    width: 90vw;
    max-width: 800px;
    padding: 2rem 3rem;

    .option {
        padding-top: 1rem;
        display: flex;
        gap: 1rem;

        input {
            display: none;

            &:checked + label {
                background-color: $new-green;
                border-color: $new-green;
            }
        }

        label {
            width: 200px;
            cursor: pointer;
            padding: 0.5rem 1rem;
            font-weight: 600;
            font-size: 16px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 50px;
            background-color: transparent;
            border: 2px solid $white;

            &.disabled {
                opacity: 0.5;
            }
        }
    }
}

// ISIANNYA
.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .line {
        @include dash-line();
        margin: 2rem 0;
    }
    
    .desc {
        margin-bottom: 1rem;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr auto 1.5fr;
        align-items: center;
        gap: 1rem;

        hr {
            margin: 0;
            height: 80%;
            border: 1px solid $white;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    
            p.text-sand-beach {
                font-weight: 600;
            }

            h2 {
                margin: 0;
                line-height: 40px;
            }
        }
    }

    button {
        align-self: flex-end;
        width: 150px;
    }
}

// BACKGROUND
.bg {
    max-width: 48%;
    position: absolute;
    top: 0;
    z-index: -999;

    &.green {
        max-height: 120%;
        left: 0;
    }

    &.red {
        right: 0;
    }
}

.bg-sm {
    display: none;
}

// LOADER
.loader {
    background: rgba(1,1,1,0.2);
    backdrop-filter: blur(8px);
    bottom: 0;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    
    &:not(&--fullscreen) {
        position: absolute;
    }
  
    &--fullscreen {
        position: fixed;
    }
  
    &__balls {
        align-items: center;
        display: flex;
        filter: url(#gooey);
        height: inherit;
        justify-content: center;
    
        &__dot {
            border-radius: 50%;
            height: 48px;
            width: 48px;
    
            &:first-child {
                animation: balls 0.7s ease-in-out infinite alternate;
                background: linear-gradient(270deg, #008F90 0%, #010101 100%);
            }
            
            &:last-child {
                animation: balls 0.7s ease-in-out infinite alternate-reverse;
                background: linear-gradient(270deg, #010101 0%, #960001 100%);
            }
        }
    }
  
    svg {
      display: none;
    }
}
  
@keyframes balls {
    from {
        transform: translate3d(-48px, 0, 0);
    }
    to {
        transform: translate3d(48px, 0, 0);
    }
}  

@media screen and (max-width: 1100px) {
    .container .title {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .container .title {
        margin-bottom: 1rem;
    }

    // BACKGROUND
    .bg {
        display: none;
    }

    .bg-sm {
        width: 35%;
        position: absolute;
        display: block;
        z-index: -999;

        &.green {
            max-height: 120%;
            left: 0;
            top: 0;
        }

        &.red1 {
            bottom: -50px;
            right: 0;
        }

        &.red2 {
            top: 0;
            right: 0;
        }
    }
}