@import 'env';

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    @include card-style();

    &::before {
        content: '';
        width: 140%;
        height: 120%;
        position: absolute;
        top: -30%;
        right: -50%;
        z-index: -1;
        background-image: url(../img/login-green.svg);
        background-size: cover;
    }

    &::after {
        content: '';
        width: 140%;
        height: 120%;
        position: absolute;
        bottom: -30%;
        left: -50%;
        z-index: -1;
        background-image: url(../img/login-red.svg);
        background-size: cover;
    }

    > p {
        color: $grey;
        
        a {
            color: $prime-green;
        }
    }
}

.warning {
    @include warning();
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;

    div {
        width: 100%;

        input {
            font-size: 16px;
        }

        label {
            width: 100%;
            
            h4 {
                padding-left: 1rem;
                width: fit-content;
            }
        }
    }

    .remember-forgot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        label {
            width: fit-content;
            color: $grey;
            font-size: 16px;
        }

        a {
            color: $darker-sand-beach;
        }
    }

    button {
        width: 150px;
    }
}