nav {
  z-index: 999;
  padding: 2rem 0 1.5rem 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0101018C;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

nav .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .brand {
  height: 100%;
  position: absolute;
  left: 0;
  cursor: pointer;
}

nav .menuItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

nav .menuItems li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menuItems li a {
  text-decoration: none;
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #EBEBEB;
}

nav .menuItems li a::before {
  content: attr(data-item);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #960001;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

nav .menuItems li a:hover::before {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav #login, nav .dropdown {
  position: absolute;
  right: 0;
}

nav #account {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .3rem .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5rem;
  border-radius: 50px;
  background-color: #EBEBEB;
  border: 1px solid #606060;
}

nav #account p {
  color: #010101;
}

nav .dropdown-menu {
  padding: .5rem;
  top: 0;
  background-color: #EBEBEB;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0.9, 0.7) translateY(-20px);
          transform: scale(0.9, 0.7) translateY(-20px);
  display: block;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

nav .dropdown-menu .dropdown-item {
  color: #010101;
}

nav .dropdown-menu .dropdown-item:hover {
  background-color: #008f9026;
}

nav .show.dropdown-menu {
  -webkit-transform: scale(1, 1) translateY(34px) !important;
          transform: scale(1, 1) translateY(34px) !important;
  opacity: 1;
  visibility: visible;
}

.nav-sm {
  display: none;
}

@media screen and (max-width: 992px) {
  nav {
    display: none;
  }
  .nav-sm {
    display: unset;
  }
}

.content {
  width: 100%;
}

.heading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading .heading-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading .heading-body a.button.submit {
  padding: 1rem 1.25rem;
}

.heading .x-container {
  width: 40%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heading .x-container .slide {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
}

.heading .headline {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2rem;
}

.heading .headline h1, .heading .headline h3 {
  text-align: end;
}

@media screen and (max-width: 576px) {
  .heading .heading-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .heading .x-container {
    width: 60%;
  }
  .heading .x-container .x {
    width: 100%;
  }
  .heading .headline {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heading .headline h1, .heading .headline h3 {
    text-align: center;
  }
}
/*# sourceMappingURL=landing-page.css.map */